.game h1 {
    font-size: 2.5em;
    margin-top: 50px;
}

.pontos {
    margin-top: 150px;
}

.pontos span {
    font-size: 1.5em;
    font-weight: bold;
}

.tipo span {
    color: #ecfa00;
}

.ContainerPalavras {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
    border-radius: 25px;
}

.letra {
    animation: balancinho .75s alternate;
}

.letra,
.quadradoBranco {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: aliceblue;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.ContainerLetra p {
    margin-bottom: 1.2em;
}

.ContainerLetra form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerLetra input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    animation: balancinho .75s alternate;
}

.letraErrada {
    font-size: 2em;
    color: red;
}

h3 p {
    margin-top: 25px;
}

@keyframes balancinho {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}

.tipo .chances{
    color: #ecfa00;
    font-size: 3em;
    animation: balancinho .75s alternate;
}

.tipo .shake {
    animation: balancinho .75s alternate;
    color: orange;
    font-size: 3em;
}

.tipo .danger{
    animation: balancinho .75s alternate;
    color: red;
    font-size: 3em;
}

.tipo .perigo{
    color: blue;
}